.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Below this is the css for the love app */

/*our custom css file*/
/*header banner css*/
.header {
  width: auto; 
  height: 200px;
  background-color: rgb(241, 122, 158);
  padding: 0%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*make the header font italic*/
h1.header {
  font-family: cursive;
  margin: 0;
  font-size: 70px;
}
/*used to center the divs in the body*/
.center {
  width: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}
/*below is for the text box css*/
/*change font*/
label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
/*style the box with one line on bottom and color it pink*/
.textbox {
width: 200px;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: rgb(241, 122, 158);
}
/*on focus change the background color*/
.textbox:focus {
  background-color: #f7E4E4;
}
/*end textbox css*/

/* below is for the checkbox css */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #d6c3c9;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(241, 122, 158);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*end checkbox css*/

.button {
  background-color: rgb(241, 122, 158); /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.button:active {
  background-color: #c24985;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: red;
}

/* loading bar min */

.ldBar{position:relative}.ldBar.label-center>.ldBar-label{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-shadow:0 0 3px #fff}.ldBar-label:after{content:"%";display:inline}.ldBar.no-percent .ldBar-label:after{content:""}

/* loading bar */ 

.ldBar {
  position: relative;
}
.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
}
.ldBar-label:after {
  content: "%";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}
