.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: grey;
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: row;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.H-stack {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.Deck {
  height: 19rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Hand {
  background-color: black;
  border: white;
  border-radius: 15px;
  border-style: solid;
  height: 13rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  position: relative;
}

.Card {
  background-color: black;
  border: white;
  border-radius: 15px;
  border-style: solid;
  height: 13rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  position: absolute;
}

.flipped {
  background-color: rgb(54, 54, 54);
}

h6 {
  margin: 0;
  color: white;
}

img {
  max-height: 50%;
  max-width: 50%;
}
